@media all and (max-width: 52.5em) {
  html {
    font-size: 56.25%;
  }

  .hero {
    position: relative;
    padding: 11.92rem 3.9rem;
  }

  .hero__tag {
    background-color: rgba(0, 0, 0, 0.037);
    max-width: 32rem;
    text-align: center;
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.21rem;
  }

  .hero__titulo {
    font-size: 3.32rem;
  }

  .hero__subtitulo {
    font-size: 2.3rem;
  }
}
